<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="ko">
<head><title th:text="#{ccm.code.regist.title}">공통코드 등록</title></head>
<body>
<main layout:fragment="content">
    <div class="container">
        <nav aria-label="breadcrumb"><ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{nav.home}">홈</a></li>
            <li class="breadcrumb-item"><a th:href="@{/sym/ccm/cca/EgovCcmCmmnCodeList.do}" th:text="#{nav.cmmnCode}">공통코드관리</a></li>
            <li class="breadcrumb-item active" th:text="#{ccm.regist.nav}">등록</li>
        </ol></nav>
        <h1 class="h4 mb-3"><i class="bi bi-list-ul"></i> <span th:text="#{ccm.code.regist.title}">공통코드 등록</span></h1>

        <form th:action="@{/sym/ccm/cca/EgovCcmCmmnCodeRegist.do}" method="post" th:object="${cmmnCode}">
            <table class="tbl col">
                <caption class="visually-hidden" th:text="#{ccm.code.regist.caption}">공통코드 등록</caption>
                <colgroup><col style="width:190px;"><col></colgroup>
                <tbody>
                <tr>
                    <th scope="row"><span th:text="#{ccm.cl.clCode}">분류코드</span> <span class="frm-rq">*</span></th>
                    <td>
                        <select class="krds-form-select" th:field="*{clCode}">
                            <option value="" th:text="#{ccm.search.select}">선택하세요</option>
                            <option th:each="result : ${cmmnClCode}" th:value="${result.clCode}" th:text="${result.clCodeNm}">분류</option>
                        </select>
                        <span class="text-danger" th:if="${#fields.hasErrors('clCode')}" th:errors="*{clCode}"></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><span th:text="#{ccm.codeId}">코드ID</span> <span class="frm-rq">*</span></th>
                    <td>
                        <input class="krds-input" type="text" th:field="*{codeId}" maxlength="6"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('codeId')}" th:errors="*{codeId}"></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><span th:text="#{ccm.codeIdNm}">코드ID명</span> <span class="frm-rq">*</span></th>
                    <td>
                        <input class="krds-input" type="text" th:field="*{codeIdNm}" maxlength="60"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('codeIdNm')}" th:errors="*{codeIdNm}"></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><span th:text="#{ccm.codeIdDc}">코드ID설명</span> <span class="frm-rq">*</span></th>
                    <td>
                        <textarea class="krds-input" rows="4" th:field="*{codeIdDc}"></textarea>
                        <span class="text-danger" th:if="${#fields.hasErrors('codeIdDc')}" th:errors="*{codeIdDc}"></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><span th:text="#{ccm.useAt}">사용여부</span> <span class="frm-rq">*</span></th>
                    <td>
                        <select class="krds-form-select" th:field="*{useAt}">
                            <option value="Y">Yes</option>
                            <option value="N">No</option>
                        </select>
                        <span class="text-danger" th:if="${#fields.hasErrors('useAt')}" th:errors="*{useAt}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex gap-2">
                <button class="krds-btn primary" type="submit"><i class="bi bi-check-lg"></i> <span th:text="#{button.save}">저장</span></button>
                <a class="krds-btn tertiary" th:href="@{/sym/ccm/cca/EgovCcmCmmnCodeList.do}" th:text="#{button.list}">목록</a>
            </div>
        </form>
    </div>
</main>
</body>
</html>
