<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="ko">
<head><title th:text="#{ccm.detail.modify.title}">상세코드 수정</title></head>
<body>
<main layout:fragment="content">
    <div class="container">
        <nav aria-label="breadcrumb"><ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{nav.home}">홈</a></li>
            <li class="breadcrumb-item"><a th:href="@{/sym/ccm/cde/EgovCcmCmmnDetailCodeList.do}" th:text="#{nav.detailCode}">상세코드관리</a></li>
            <li class="breadcrumb-item active" th:text="#{ccm.modify.nav}">수정</li>
        </ol></nav>
        <h1 class="h4 mb-3"><i class="bi bi-list-ul"></i> <span th:text="#{ccm.detail.modify.title}">상세코드 수정</span></h1>

        <form th:action="@{/sym/ccm/cde/EgovCcmCmmnDetailCodeModify.do}" method="post" th:object="${cmmnDetailCode}">
            <input type="hidden" name="cmd" value="Modify"/>
            <input type="hidden" th:field="*{codeId}"/>
            <input type="hidden" th:field="*{code}"/>
            <table class="tbl col">
                <caption class="visually-hidden" th:text="#{ccm.detail.modify.caption}">상세코드 수정</caption>
                <colgroup><col style="width:190px;"><col></colgroup>
                <tbody>
                <tr><th scope="row" th:text="#{ccm.codeId}">코드ID</th><td th:text="*{codeIdNm}">코드ID</td></tr>
                <tr><th scope="row" th:text="#{ccm.code}">코드</th><td th:text="*{code}">코드</td></tr>
                <tr>
                    <th scope="row"><span th:text="#{ccm.codeNm}">코드명</span> <span class="frm-rq">*</span></th>
                    <td>
                        <input class="krds-input" type="text" th:field="*{codeNm}" maxlength="60"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('codeNm')}" th:errors="*{codeNm}"></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><span th:text="#{ccm.codeDc}">코드설명</span> <span class="frm-rq">*</span></th>
                    <td>
                        <textarea class="krds-input" rows="4" th:field="*{codeDc}"></textarea>
                        <span class="text-danger" th:if="${#fields.hasErrors('codeDc')}" th:errors="*{codeDc}"></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><span th:text="#{ccm.useAt}">사용여부</span> <span class="frm-rq">*</span></th>
                    <td>
                        <select class="krds-form-select" th:field="*{useAt}">
                            <option value="Y">Yes</option>
                            <option value="N">No</option>
                        </select>
                        <span class="text-danger" th:if="${#fields.hasErrors('useAt')}" th:errors="*{useAt}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex gap-2">
                <button class="krds-btn primary" type="submit"><i class="bi bi-check-lg"></i> <span th:text="#{button.save}">저장</span></button>
                <a class="krds-btn tertiary" th:href="@{/sym/ccm/cde/EgovCcmCmmnDetailCodeList.do}" th:text="#{button.list}">목록</a>
            </div>
        </form>
    </div>
</main>
</body>
</html>
