<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="ko">
<head><title th:text="#{absnce.updt.title}">사용자부재수정</title></head>
<body>
<main layout:fragment="content">
    <div class="container">
        <nav aria-label="breadcrumb"><ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{nav.home}">홈</a></li>
            <li class="breadcrumb-item" th:text="#{nav.systemManage}">내부시스템관리</li>
            <li class="breadcrumb-item active" th:text="#{nav.userAbsnce}">사용자부재관리</li>
        </ol></nav>
        <h1 class="h4 mb-3"><i class="bi bi-person-dash"></i> <span th:text="#{absnce.updt.title}">사용자부재 수정</span></h1>

        <form id="userAbsnce" name="userAbsnce" method="post"
              th:action="@{/uss/ion/uas/updtUserAbsnce.do}" th:object="${userAbsnce}">
            <table class="tbl col">
                <colgroup><col style="width:190px;"><col></colgroup>
                <tbody>
                <tr>
                    <th scope="row" th:text="#{absnce.userId}">사용자ID</th>
                    <td><input class="krds-input" th:field="*{userId}" type="text" readonly th:title="#{absnce.userId}" title="사용자ID"/></td>
                </tr>
                <tr>
                    <th scope="row"><span th:text="#{absnce.userNm}">사용자명</span> <span class="frm-rq">*</span></th>
                    <td><input class="krds-input" th:field="*{userNm}" type="text" readonly th:title="#{absnce.userNm}" title="사용자명"/></td>
                </tr>
                <tr>
                    <th scope="row" th:text="#{absnce.absnceAt}">부재여부</th>
                    <td>
                        <select name="userAbsnceAt" id="userAbsnceAt" class="krds-form-select" th:title="#{absnce.absnceAt}" title="부재여부"
                                style="width:auto;display:inline-block;">
                            <option value="Y" th:selected="*{userAbsnceAt} == 'Y'">Y</option>
                            <option value="N" th:selected="*{userAbsnceAt} == 'N'">N</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row" th:text="#{absnce.regDate}">등록일시</th>
                    <td><input class="krds-input" th:field="*{lastUpdusrPnttm}" type="text" readonly th:title="#{absnce.regDate}" title="등록일시"/></td>
                </tr>
                </tbody>
            </table>

            <input type="hidden" name="searchCondition" th:value="${userAbsnceVO != null} ? ${userAbsnceVO.searchCondition} : ''"/>
            <input type="hidden" name="searchKeyword" th:value="${userAbsnceVO != null} ? ${userAbsnceVO.searchKeyword} : ''"/>
            <input type="hidden" name="pageIndex" th:value="${userAbsnceVO != null} ? ${userAbsnceVO.pageIndex} : ''"/>
            <input type="hidden" name="selAbsnceAt" th:value="${userAbsnceVO != null} ? ${userAbsnceVO.selAbsnceAt} : ''"/>

            <div class="text-end">
                <button type="submit" class="krds-btn primary" th:text="#{button.save}">저장</button>
                <a class="krds-btn tertiary" th:href="@{/uss/ion/uas/selectUserAbsnceList.do}" th:text="#{button.list}">목록</a>
            </div>
        </form>

        <form method="post" th:action="@{/uss/ion/uas/removeUserAbsnce.do}" class="mt-2"
              th:onsubmit="'return confirm(\'' + #{common.confirm.delete} + '\');'"
              onsubmit="return confirm('삭제하시겠습니까?');">
            <input type="hidden" name="userId" th:value="${userAbsnce.userId}"/>
            <button type="submit" class="krds-btn danger" th:text="#{button.delete}">삭제</button>
        </form>
    </div>
</main>
</body>
</html>
