<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="ko">
<head><title th:text="#{bnr.regist.title}">배너 등록</title></head>
<body>
<main layout:fragment="content">
    <div class="container" style="max-width:820px;">
        <nav aria-label="breadcrumb"><ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{nav.home}">홈</a></li>
            <li class="breadcrumb-item"><a th:href="@{/uss/ion/bnr/selectBannerList.do}" th:text="#{bnr.title}">배너관리</a></li>
            <li class="breadcrumb-item active" th:text="#{bnr.regist.breadcrumb}">배너 등록</li>
        </ol></nav>
        <h1 class="h4 mb-3"><i class="bi bi-image"></i> <span th:text="#{bnr.regist.title}">배너 등록</span></h1>
        <form th:action="@{/uss/ion/bnr/addBanner.do}" th:object="${banner}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label><span th:text="#{bnr.form.bannerNm}">배너명</span> <span class="frm-rq">*</span></label>
                <input class="krds-input" type="text" th:field="*{bannerNm}" maxlength="30" required autofocus/>
                <div class="text-danger small" th:if="${#fields.hasErrors('bannerNm')}" th:errors="*{bannerNm}"></div>
            </div>
            <div class="mb-3">
                <label><span th:text="#{bnr.form.linkUrl}">링크 URL</span> <span class="frm-rq">*</span></label>
                <input class="krds-input" type="text" th:field="*{linkUrl}" maxlength="255" required/>
                <div class="text-danger small" th:if="${#fields.hasErrors('linkUrl')}" th:errors="*{linkUrl}"></div>
            </div>
            <div class="mb-3">
                <label th:text="#{bnr.form.bannerImage}">배너 이미지</label>
                <input class="krds-input" type="file" name="file_1"/>
            </div>
            <div class="mb-3">
                <label th:text="#{bnr.form.bannerDc}">배너 설명</label>
                <input class="krds-input" type="text" th:field="*{bannerDc}" maxlength="100"/>
            </div>
            <div class="mb-3">
                <label><span th:text="#{bnr.form.sortOrdr}">정렬순서</span> <span class="frm-rq">*</span></label>
                <input class="krds-input" type="number" th:field="*{sortOrdr}" min="0" value="1" required/>
                <div class="text-danger small" th:if="${#fields.hasErrors('sortOrdr')}" th:errors="*{sortOrdr}"></div>
            </div>
            <div class="mb-3">
                <label th:text="#{bnr.form.reflctAt}">반영여부</label>
                <select class="krds-form-select" th:field="*{reflctAt}">
                    <option value="Y">Y</option>
                    <option value="N">N</option>
                </select>
            </div>
            <div class="d-flex justify-content-between">
                <a class="krds-btn tertiary" th:href="@{/uss/ion/bnr/selectBannerList.do}" th:text="#{button.list}">목록</a>
                <button class="krds-btn primary" type="submit"><i class="bi bi-check-lg"></i> <span th:text="#{button.save}">저장</span></button>
            </div>
        </form>
    </div>
</main>
</body>
</html>
