<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg egov-nav egov-navbar border-bottom">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav gap-1">
                <li class="nav-item"><a class="nav-link" th:href="@{/}" th:text="#{nav.home}">홈</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" th:text="#{nav.board}">게시판</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/cop/bbs/selectBoardList.do(bbsId='BBSMSTR_AAAAAAAAAAAA')}" th:text="#{nav.notice}">공지사항</a></li>
                        <li><a class="dropdown-item" th:href="@{/cop/bbs/selectBoardList.do(bbsId='BBSMSTR_BBBBBBBBBBBB')}" th:text="#{nav.gallery}">갤러리</a></li>
                        <li sec:authorize="hasRole('ADMIN')"><hr class="dropdown-divider"/></li>
                        <li sec:authorize="hasRole('ADMIN')"><a class="dropdown-item" th:href="@{/cop/bbs/SelectBBSMasterInfs.do}" th:text="#{nav.bbsMaster}">게시판마스터관리</a></li>
                    </ul>
                </li>
                <!-- ===== 회원·권한관리 (관리자) ===== -->
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" th:text="#{nav.memberAuth}">회원·권한</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/uss/umt/user/EgovUserManage.do}" th:text="#{nav.userManage}">업무사용자관리</a></li>
                        <li><a class="dropdown-item" th:href="@{/uss/umt/mber/EgovMberManage.do}" th:text="#{nav.member}">회원관리</a></li>
                        <li><a class="dropdown-item" th:href="@{/sec/ram/EgovAuthorListView.do}" th:text="#{nav.authority}">권한관리</a></li>
                        <li><a class="dropdown-item" th:href="@{/sec/rmt/EgovRoleListView.do}" th:text="#{nav.role}">롤관리</a></li>
                        <li><a class="dropdown-item" th:href="@{/sec/gmt/EgovGroupListView.do}" th:text="#{nav.group}">그룹관리</a></li>
                        <li><hr class="dropdown-divider"/></li>
                        <li><a class="dropdown-item" th:href="@{/uat/uap/selectLoginPolicyListView.do}" th:text="#{nav.loginPolicy}">로그인정책관리</a></li>
                        <li><a class="dropdown-item" th:href="@{/uss/ion/uas/selectUserAbsnceListView.do}" th:text="#{nav.userAbsnce}">사용자부재관리</a></li>
                    </ul>
                </li>
                <!-- ===== 코드·메뉴·프로그램 (관리자) ===== -->
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" th:text="#{nav.codeMenu}">코드·메뉴</a>
                    <ul class="dropdown-menu">
                        <li><h6 class="dropdown-header" th:text="#{nav.codeManage}">코드관리</h6></li>
                        <li><a class="dropdown-item" th:href="@{/sym/ccm/ccc/EgovCcmCmmnClCodeList.do}" th:text="#{nav.clCode}">공통분류코드관리</a></li>
                        <li><a class="dropdown-item" th:href="@{/sym/ccm/cca/EgovCcmCmmnCodeList.do}" th:text="#{nav.cmmnCode}">공통코드관리</a></li>
                        <li><a class="dropdown-item" th:href="@{/sym/ccm/cde/EgovCcmCmmnDetailCodeList.do}" th:text="#{nav.detailCode}">공통상세코드관리</a></li>
                        <li><hr class="dropdown-divider"/></li>
                        <li><h6 class="dropdown-header" th:text="#{nav.menuProgram}">메뉴·프로그램</h6></li>
                        <li><a class="dropdown-item" th:href="@{/sym/mnu/mpm/EgovMenuManageSelect.do}" th:text="#{nav.menuList}">메뉴목록관리</a></li>
                        <li><a class="dropdown-item" th:href="@{/sym/mnu/mcm/EgovMenuCreatManageSelect.do}" th:text="#{nav.menuCreat}">메뉴생성관리</a></li>
                        <li><a class="dropdown-item" th:href="@{/sym/prm/EgovProgramListManageSelect.do}" th:text="#{nav.program}">프로그램관리</a></li>
                    </ul>
                </li>
                <!-- ===== 시스템관리 (관리자) ===== -->
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" th:text="#{nav.systemManage}">시스템관리</a>
                    <ul class="dropdown-menu">
                        <li><h6 class="dropdown-header" th:text="#{nav.logStats}">로그·통계</h6></li>
                        <li><a class="dropdown-item" th:href="@{/sym/log/clg/SelectLoginLogList.do}" th:text="#{nav.loginLog}">접속로그조회</a></li>
                        <li><a class="dropdown-item" th:href="@{/sym/log/lgm/SelectSysLogList.do}" th:text="#{nav.sysLog}">시스템로그조회</a></li>
                        <li><a class="dropdown-item" th:href="@{/sts/cst/selectConectStats.do}" th:text="#{nav.conectStats}">접속통계관리</a></li>
                        <li><hr class="dropdown-divider"/></li>
                        <li><h6 class="dropdown-header" th:text="#{nav.baseInfo}">기준정보</h6></li>
                        <li><a class="dropdown-item" th:href="@{/sym/cal/EgovRestdeList.do}" th:text="#{nav.holiday}">휴일관리</a></li>
                        <li><a class="dropdown-item" th:href="@{/sym/ccm/zip/EgovCcmZipList.do}" th:text="#{nav.zip}">우편번호관리</a></li>
                        <li><a class="dropdown-item" th:href="@{/cop/com/selectTemplateInfs.do}" th:text="#{nav.template}">템플릿관리</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
