<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="ko">
<head><title th:text="#{menu.detail.title}">메뉴정보 수정</title></head>
<body>
<main layout:fragment="content">
    <div class="container">
        <nav aria-label="breadcrumb"><ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{nav.home}">홈</a></li>
            <li class="breadcrumb-item"><a th:href="@{/sym/mnu/mpm/EgovMenuManageSelect.do}" th:text="#{nav.menuList}">메뉴목록관리</a></li>
            <li class="breadcrumb-item active" th:text="#{menu.modify}">메뉴 수정</li>
        </ol></nav>
        <h1 class="h4 mb-3"><i class="bi bi-pencil-square"></i> <span th:text="#{menu.detail.title}">메뉴정보 수정</span></h1>

        <form method="post" th:action="@{/sym/mnu/mpm/EgovMenuDetailSelectUpdt.do}" th:object="${menuManageVO}">
            <table class="tbl col">
                <caption class="visually-hidden" th:text="#{menu.detail.title}">메뉴정보 수정</caption>
                <tbody>
                <tr><th scope="row" style="width:180px;" th:text="#{menu.no}">메뉴번호</th><td><input class="krds-input" type="number" th:field="*{menuNo}" readonly/></td></tr>
                <tr><th scope="row" th:text="#{menu.nm}">메뉴명</th><td><input class="krds-input" type="text" th:field="*{menuNm}" maxlength="50" required/></td></tr>
                <tr><th scope="row" th:text="#{menu.ordr}">메뉴순서</th><td><input class="krds-input" type="number" th:field="*{menuOrdr}" required/></td></tr>
                <tr><th scope="row" th:text="#{menu.upperMenuNo}">상위메뉴번호</th><td><input class="krds-input" type="number" th:field="*{upperMenuId}" required/></td></tr>
                <tr><th scope="row" th:text="#{menu.progrmFileNm}">프로그램파일명</th><td><input class="krds-input" type="text" th:field="*{progrmFileNm}" maxlength="50" required/></td></tr>
                <tr><th scope="row" th:text="#{menu.dc}">메뉴설명</th><td><input class="krds-input" type="text" th:field="*{menuDc}" maxlength="100"/></td></tr>
                <tr><th scope="row" th:text="#{menu.relateImagePath}">관련이미지경로</th><td><input class="krds-input" type="text" th:field="*{relateImagePath}" maxlength="100"/></td></tr>
                <tr><th scope="row" th:text="#{menu.relateImageNm}">관련이미지명</th><td><input class="krds-input" type="text" th:field="*{relateImageNm}" maxlength="50"/></td></tr>
                </tbody>
            </table>
            <div class="text-end">
                <a class="krds-btn tertiary small" th:href="@{/sym/mnu/mpm/EgovMenuManageSelect.do}" th:text="#{button.list}">목록</a>
                <button type="submit" class="krds-btn primary small"><i class="bi bi-check-lg"></i> <span th:text="#{button.modify}">수정</span></button>
                <button type="submit" class="krds-btn danger small" th:formaction="@{/sym/mnu/mpm/EgovMenuManageDelete.do}"><i class="bi bi-trash"></i> <span th:text="#{button.delete}">삭제</span></button>
            </div>
        </form>
    </div>
</main>
</body>
</html>
