<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="ko">
<head><title th:text="#{mber.update.title}">회원정보 수정</title></head>
<body>
<main layout:fragment="content">
    <div class="container" style="max-width:820px;">
        <nav aria-label="breadcrumb"><ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{common.home}">홈</a></li>
            <li class="breadcrumb-item"><a th:href="@{/uss/umt/mber/EgovMberManage.do}" th:text="#{mber.manage.title}">회원관리</a></li>
            <li class="breadcrumb-item active" th:text="#{mber.update.crumb}">수정</li>
        </ol></nav>
        <h1 class="h4 mb-3"><i class="bi bi-person-gear"></i> <span th:text="#{mber.update.title}">회원정보 수정</span></h1>
        <form th:action="@{/uss/umt/mber/EgovMberSelectUpdt.do}" method="post" th:object="${mberManageVO}">
            <div class="alert alert-danger py-2" th:if="${#fields.hasAnyErrors()}" th:text="#{mber.form.error}">
                입력값을 확인하세요. (필수 항목 누락)
            </div>
            <input type="hidden" th:field="*{uniqId}"/>
            <input type="hidden" th:field="*{password}"/>
            <input type="hidden" th:field="*{ihidnum}"/>
            <input type="hidden" th:field="*{sbscrbDe}"/>
            <div class="row g-3">
                <div class="col-md-6"><label class="form-label" th:text="#{mber.label.id}">아이디</label>
                    <input class="krds-input" type="text" th:field="*{mberId}" readonly/></div>
                <div class="col-md-6"><label class="form-label"><span th:text="#{mber.label.name}">이름</span> <span class="frm-rq">*</span></label>
                    <input class="krds-input" type="text" th:field="*{mberNm}" maxlength="50" required/></div>
                <div class="col-md-6"><label class="form-label"><span th:text="#{mber.label.sttus}">회원상태</span> <span class="frm-rq">*</span></label>
                    <select class="krds-form-select" th:field="*{mberSttus}">
                        <th:block th:if="${not #lists.isEmpty(mberSttus_result)}">
                            <option th:each="c : ${mberSttus_result}" th:value="${c.code}" th:text="${c.codeNm}">상태</option>
                        </th:block>
                        <th:block th:if="${#lists.isEmpty(mberSttus_result)}">
                            <option value="A" th:text="#{mber.sttus.apply}">가입신청</option>
                            <option value="P" th:text="#{mber.sttus.approve}">가입승인</option>
                            <option value="D" th:text="#{mber.sttus.delete}">가입삭제</option>
                        </th:block>
                    </select></div>
                <div class="col-md-6"><label class="form-label"><span th:text="#{mber.label.group}">소속그룹</span> <span class="frm-rq">*</span></label>
                    <select class="krds-form-select" th:field="*{groupId}">
                        <option th:each="c : ${groupId_result}" th:value="${c.code}" th:text="${c.codeNm}">그룹</option>
                    </select></div>
                <div class="col-md-6"><label class="form-label"><span th:text="#{mber.label.pwdHint}">비밀번호 힌트</span> <span class="frm-rq">*</span></label>
                    <select class="krds-form-select" th:field="*{passwordHint}">
                        <th:block th:if="${not #lists.isEmpty(passwordHint_result)}">
                            <option th:each="c : ${passwordHint_result}" th:value="${c.code}" th:text="${c.codeNm}">힌트</option>
                        </th:block>
                        <th:block th:if="${#lists.isEmpty(passwordHint_result)}">
                            <option value="P01" th:text="#{mber.pwdHint.p01}">가장 기억에 남는 장소는?</option>
                            <option value="P02" th:text="#{mber.pwdHint.p02}">나의 좌우명은?</option>
                            <option value="P03" th:text="#{mber.pwdHint.p03}">나의 보물 제1호는?</option>
                            <option value="P04" th:text="#{mber.pwdHint.p04}">가장 기억에 남는 선생님 성함은?</option>
                            <option value="P05" th:text="#{mber.pwdHint.p05}">다른 사람은 모르는 나만의 신체비밀은?</option>
                        </th:block>
                    </select></div>
                <div class="col-md-6"><label class="form-label"><span th:text="#{mber.label.pwdCnsr}">비밀번호 정답</span> <span class="frm-rq">*</span></label>
                    <input class="krds-input" type="text" th:field="*{passwordCnsr}" maxlength="100" required/></div>
                <div class="col-md-6"><label class="form-label" th:text="#{mber.label.sexdstn}">성별</label>
                    <select class="krds-form-select" th:field="*{sexdstnCode}">
                        <option value="" th:text="#{mber.opt.select}">선택</option>
                        <th:block th:if="${not #lists.isEmpty(sexdstnCode_result)}">
                            <option th:each="c : ${sexdstnCode_result}" th:value="${c.code}" th:text="${c.codeNm}">성별</option>
                        </th:block>
                        <th:block th:if="${#lists.isEmpty(sexdstnCode_result)}">
                            <option value="M" th:text="#{mber.sex.male}">남자</option>
                            <option value="F" th:text="#{mber.sex.female}">여자</option>
                        </th:block>
                    </select></div>
                <div class="col-md-6"><label class="form-label" th:text="#{mber.label.email}">이메일</label>
                    <input class="krds-input" type="email" th:field="*{mberEmailAdres}" maxlength="50"/></div>
                <div class="col-md-4"><label class="form-label" th:text="#{mber.label.zip}">우편번호</label>
                    <div class="input-group">
                        <input class="krds-input" type="text" th:field="*{zip}" maxlength="8"/>
                        <button class="krds-btn tertiary" type="button" onclick="fn_egov_ZipSearch()" th:title="#{mber.zip.search}" title="우편번호 검색">
                            <i class="bi bi-search"></i></button>
                    </div></div>
                <div class="col-md-8"><label class="form-label" th:text="#{mber.label.adres}">주소</label>
                    <input class="krds-input" type="text" th:field="*{adres}" maxlength="100"/></div>
                <div class="col-12"><label class="form-label" th:text="#{mber.label.detailAdres}">상세주소</label>
                    <input class="krds-input" type="text" th:field="*{detailAdres}" maxlength="100"/></div>
                <div class="col-md-4"><label class="form-label" th:text="#{mber.label.moblphon}">휴대전화</label>
                    <input class="krds-input" type="text" th:field="*{moblphonNo}" maxlength="15"/></div>
                <div class="col-md-4"><label class="form-label" th:text="#{mber.label.telno}">전화번호</label>
                    <input class="krds-input" type="text" th:field="*{areaNo}" maxlength="4" placeholder="지역" th:placeholder="#{mber.label.areaNo}"/></div>
                <div class="col-md-4"><label class="form-label">&nbsp;</label>
                    <div class="input-group">
                        <input class="krds-input" type="text" th:field="*{middleTelno}" maxlength="4"/>
                        <span class="input-group-text">-</span>
                        <input class="krds-input" type="text" th:field="*{endTelno}" maxlength="4"/>
                    </div></div>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <a class="krds-btn tertiary" th:href="@{/uss/umt/mber/EgovMberManage.do}" th:text="#{button.cancel}">취소</a>
                <div class="d-flex gap-2">
                    <a class="krds-btn secondary"
                       th:href="@{/uss/umt/mber/EgovMberPasswordUpdtView.do(userTyForPassword='USR01',mberId=*{mberId},uniqId=*{uniqId})}">
                        <i class="bi bi-key"></i> <span th:text="#{mber.update.toPwd}">비밀번호 변경</span></a>
                    <a class="krds-btn danger"
                       th:href="@{/uss/umt/mber/EgovMberDelete.do(checkedIdForDel='USR01:' + *{uniqId})}"
                       th:onclick="'return confirm(\'' + #{mber.js.confirmDeleteOne} + '\');'">
                        <i class="bi bi-trash"></i> <span th:text="#{button.delete}">삭제</span></a>
                    <button class="krds-btn primary" type="submit"><i class="bi bi-check-lg"></i> <span th:text="#{mber.btn.modify}">수정</span></button>
                </div>
            </div>
        </form>
    </div>
    <script th:inline="javascript">
        function fn_egov_ZipSearch() {
            window.open([[@{/cmm/sym/zip/EgovCcmZipSearchPopup.do}]], 'zipSearch', 'width=560,height=620,scrollbars=yes');
        }
        /* 우편번호 팝업 콜백 (JSP fn_egov_returnValue 동일 시그니처, ZIP 컬럼 VARCHAR(6)라 sZip 사용) */
        function fn_egov_returnValue(retVal) {
            if (retVal) {
                document.getElementById('zip').value = retVal.sZip || retVal.vZip;
                document.getElementById('adres').value = retVal.sAddr;
            }
        }
    </script>
</main>
</body>
</html>
