<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="ko">
<head><title th:text="#{policy.regist.title}">로그인정책등록</title></head>
<body>
<main layout:fragment="content">
    <div class="container">
        <nav aria-label="breadcrumb"><ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{nav.home}">홈</a></li>
            <li class="breadcrumb-item" th:text="#{policy.nav.internalService}">내부서비스관리</li>
            <li class="breadcrumb-item active" th:text="#{nav.loginPolicy}">로그인정책관리</li>
        </ol></nav>
        <h1 class="h4 mb-3"><i class="bi bi-shield-lock"></i> <span th:text="#{policy.regist.title}">로그인정책 등록</span></h1>

        <form id="loginPolicy" name="loginPolicy" method="post"
              th:action="@{/uat/uap/addLoginPolicy.do}" th:object="${loginPolicy}">
            <input type="hidden" name="dplctPermAt" value="Y"/>
            <input type="hidden" th:field="*{emplyrNm}"/>
            <table class="tbl col">
                <caption class="visually-hidden" th:text="#{policy.regist.title}">로그인정책 등록</caption>
                <colgroup><col style="width:190px;"><col></colgroup>
                <tbody>
                <tr>
                    <th scope="row"><span th:text="#{policy.userId}">사용자ID</span> <span class="frm-rq">*</span></th>
                    <td>
                        <input class="krds-input" th:value="*{emplyrId}" disabled title="사용자ID(화면출력용)"/>
                        <input type="hidden" th:field="*{emplyrId}"/>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><span th:text="#{policy.userNm}">사용자명</span> <span class="frm-rq">*</span></th>
                    <td><input class="krds-input" th:value="*{emplyrNm}" disabled title="사용자명(화면출력용)"/></td>
                </tr>
                <tr>
                    <th scope="row"><span th:text="#{policy.ipInfo}">IP정보</span> <span class="frm-rq">*</span></th>
                    <td>
                        <input id="ipInfo" class="krds-input" th:field="*{ipInfo}" type="text" maxlength="23" title="IP정보"/>
                        <span class="text-danger small" th:if="${#fields.hasErrors('ipInfo')}" th:errors="*{ipInfo}"></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row" th:text="#{policy.ipLmttAt}">IP제한여부</th>
                    <td>
                        <select name="lmttAt" id="lmttAt" class="krds-form-select" th:title="#{policy.ipLmttAt}" title="IP제한여부" style="width:auto;display:inline-block;">
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                        <span class="ms-2 text-muted" th:text="#{policy.ipLmttAt.desc}">(Y로 설정되면 등록된 IP에서의 접속만을 허용하도록 제한됨)</span>
                    </td>
                </tr>
                </tbody>
            </table>

            <input type="hidden" name="searchCondition" th:value="${loginPolicyVO != null} ? ${loginPolicyVO.searchCondition} : ''"/>
            <input type="hidden" name="searchKeyword" th:value="${loginPolicyVO != null} ? ${loginPolicyVO.searchKeyword} : ''"/>
            <input type="hidden" name="pageIndex" th:value="${loginPolicyVO != null} ? ${loginPolicyVO.pageIndex} : ''"/>

            <div class="text-end">
                <button type="submit" class="krds-btn primary" th:text="#{button.save}">저장</button>
                <a class="krds-btn tertiary" th:href="@{/uat/uap/selectLoginPolicyList.do}" th:text="#{button.list}">목록</a>
            </div>
        </form>
    </div>
</main>
</body>
</html>
